body{
  background-image: url('pexels-lum3n-44775-311039.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}
h1{
  color:red;
  border: 1px solid white;
  text-size:20px;
  text-family:"K2D";
  
}
