body{
  background-image: url('https://anhdep.edu.vn/upload/2024/05/top-99-avatar-wibu-sieu-cute-va-doc-dao-nhat-cho-fan-anime-42.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}
h1{
  color:red;
}
